*{
  box-sizing: border-box;
  background-color: darkslategray;
}
li{
  font-size:large;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size:x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: initial;
}
em{
  font-weight: bold;
}
strong{
  font-style: italic;
}